* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bai Jamjuree", sans-serif;
  color: hsl(210, 10%, 33%);
  font-weight: 400;
  line-height: 1.7;
}

body {
  text-align: center;
  max-width: 1440px;
  margin: auto;
}

main {
  background-color: hsl(0, 0%, 100%);
  margin: 0 auto;
  max-width: 1440px;
}

header {
  background: url(images/bg-header-desktop.png) no-repeat;
  background-size: contain;
  padding: 130px;
}

h1 {
  font-size: 2.8rem;
  margin: auto;
  font-weight: 600;
  margin-bottom: 20px;
}

.content {
  color: hsl(201, 11%, 66%);
  font-weight: 400;
  font-size: 1.17rem;
  margin: auto;
  margin-bottom: 40px;
  max-width: 690px;
  line-height: 1.5;
}

button {
  padding: 10px 40px;
  border: none;
  border-radius: 100px;
  color: #ffffff;
  font-family: "bai jamjuree";
  font-size: 20px;
  letter-spacing: 1px;
  margin-left: 20px;
}

.green-button {
  background-color: hsl(171, 66%, 44%);
  box-shadow: 0 3px 0 hsl(171, 74%, 35%);
}

.blue-button {
  background-color: hsl(233, 100%, 69%);
  box-shadow: 0 3px 0 hsl(233, 83%, 58%);
}

button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.wrapper {
  margin-bottom: 150px;
}

.wrapper2 {
  display: flex;
  text-align: left;
  margin-top: 80px;
}

.device-image1 {
  width: 50%;
  overflow: hidden;
}

.wrapper2 .device-image1 img {
  width: 105%;
  transform: translate(-5%);
}

.block {
  padding: 50px 50px 50px 0px;
  max-width: 420px;
  margin: auto;
  margin-left: 100px;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.snippet {
  color: hsl(201, 11%, 66%);
  font-weight: 400;
  margin-bottom: 20px;
  font-size: 1.1rem;
}

p {
  color: hsl(210, 10%, 33%);
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.about-wrapper {
  margin-bottom: 80px;
}

.device-image {
  margin-top: 100px;
  width: 70%;
}

.wrapper3 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 80px 30px;
  margin-top: 70px;
}

.block2 {
  max-width: 350px;
  justify-self: center;
}

.block2 img {
  margin-bottom: 20px;
}

.img_wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  grid-gap: 80px 100px;
  padding: 100px 160px;
  margin-top: 80px;
}

footer {
  background-color: hsl(210, 10%, 96%);
  padding: 45px 160px;
  display: grid;
  grid-template-columns: minmax(150px, 1fr) 4fr minmax(170px, 1fr);
}

footer img {
  width: 55px;
}

footer .links {
  max-width: 500px;
  display: grid;
  grid-template-columns: repeat(3, minmax(120px, 120px));
  grid-gap: 20px 70px;
  text-align: start;
}

a {
  text-decoration: none;
}

footer .links a:hover {
  cursor: pointer;
  color: hsl(171, 66%, 44%);
}

.social-link {
  place-self: center flex-end;
}

.social-link a svg {
  width: 27px;
  margin: 10px;
  fill: #4c545c;
}

.social-link a:hover svg {
  fill: hsl(171, 66%, 44%);
}

@media screen and (max-width: 500px) {



header {
   background: url(images/bg-header-mobile.png) no-repeat;
  background-size: contain;
   padding: 150px 00px;
}

h1 {
    max-width: 360px;
    font-size: 2.2rem;
    margin-top: 50px;
    line-height: 1.3;
}

.content {
    max-width: 350px;
}

button {
    width: 350px;
    margin-left: 0px;
}

  .green-button {
    margin-top: 20px;
    margin-bottom: 30px;
  }

h2 {
    max-width: 350px;
    margin: auto;
    line-height: 1.3;
    font-size: 2rem;
    margin-bottom: 20px;
}

.snippet {
    font-size: 1rem;
}

.wrapper2 {
    flex-direction: column;
    text-align: center;
}

.device-image1 {
  width: auto;
 margin: auto;
 margin-bottom: 50px;
}

.wrapper2 .device-image1 img {
  width: 90%;
  padding-left: 30px;
}

.block {
    max-width: 370px;
    margin: auto;
    padding: 0px 20px;
}

.device-image {
    width: 100%;
}

.img_wrapper {
    margin: auto;
    margin-bottom: 50px;
}

  footer {
    display: grid;
    grid-template-columns: minmax(150px, 1fr);
    padding: 0px;
  }

footer img {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 30px;
}

  footer .links {
    grid-template-columns: auto;
    text-align: center;
    line-height: 1.7px;
  }

  footer .social-link {
    margin: auto;
  }
}
